.column {
  float: left;
  width: 33.33%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

#fill {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden
}
#fill img {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%
}

.myfootnote {
  position: absolute;
  bottom: 50px;
  padding-right: 4em;
  font-size: 0.5em;
}
